/* 
Design Notes: 
    Font: Indie flower for title
    Inria Sans for all annen tekst
    
Colors:
  White: #e5e5e5
  orange: #cd840f
  blue: #14213d
*/

/* 
HTML tags, classes and IDs
Header -> Nav -> section #navigation -> a #top / ul .header_ul -> li a .nav_buttons
Footer -> Article #contact_info (-> pre) / #copyright_article (-> p #copyright_text)
Article #nav_footer -> ul .footer_ul -> li a .nav_buttons
p .section_title .section_p .price_bold .price_italic .center_aligned_text .alt_color

index;
div #landing_img
section .main_sections 
#summary_section #price_section #booking_section #gallery_section #feedback_section
article #homepage_img_ceontainer
img .gallery_pics

booking;
section #section_title #booking_section
form #booking_form
article .form_article
input textarea button #form_submit

feedback;

gallery;

*/

/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100svw;
  overflow-x: hidden;
  font-family: "Inria Sans", sans-serif; /* Default font-family for the site */
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #14213d;
  gap: 2svh;
  min-height: 100svh;
}

#emptybox {
  width: 18svw;
}

#landing_img {
  background-image: url(./img/river-fx-ZxzQGmH65W0-unsplash.jpg);
  width: 100%;
  height: auto;
  min-height: 80svh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.nav_buttons:hover {
  cursor: pointer;
  color: #fff;
  background-color: #cd840f;
}

.nav_buttons:active {
  background-color: #14213d;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  height: 70px;
  width: 100svw;
  background-color: #e5e5e5;
}

.header_ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
}

#top {
  color: #14213d;
  font-family: "indie flower", sans-serif;
  font-size: 42px;
  letter-spacing: 1.5px;
  padding-left: 10svw; /* to get it more center aligned with space-between */
}

#top:hover {
  color: #fca311;
}

#top:active {
  color: #cd840f;
}

li {
  list-style-type: none;
}

.nav_buttons {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  gap: 0.5em;
  background-color: #fca311;
  padding: 0.75em;
  border-radius: 15px;
  color: #14213d;
}

.main_sections {
  background-color: #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 5svh 5svw;
  width: 80svw;
  border-radius: 15px;
  gap: 3svh;
}

.section_title {
  font-family: "indie flower", sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}

.section_p {
  width: 65%;
  text-align: center;
}

.center_aligned_text {
  text-align: center;
}

.price_bold {
  font-weight: bold;
  font-size: 1.4em;
  word-spacing: 10px;
}

.price_italic {
  font-style: italic;
  font-weight: 300;
}

#homepage_img_container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.gallery_pics {
  height: 250px;
  width: 250px;
  background-color: #fca311;
  border-radius: 20px;
  object-fit: cover;
  border: #14213d 5px solid;
}

#section_title {
  color: #e5e5e5;
}

#booking_form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.5em;
  text-align: center;
}

.form_article {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

input {
  border-radius: 5px;
  border: solid #14213d 2px;
  padding: 3px;
  width: 30svw;
  min-width: 300px;
  height: 3em;
  text-align: center;
}

select {
  border-radius: 5px;
  width: 30svw;
  min-width: 300px;
  height: 3em;
  text-align: center;
  border: solid #14213d 2px;
}

textarea {
  border-radius: 5px;
  padding: 3px;
  min-width: 300px;
  width: 30svw;
  border: solid #14213d 2px;
}

#form_submit {
  text-align: center;
  width: 10svw;
  height: 10svh;
  min-width: 100px;
  min-height: 100px;
  border-radius: 25px;
  border: none;
  background-color: #fca311;
  color: #14213d;
  margin-left: 10svw;
}

#form_submit:hover {
  background-color: #cd840f;
  color: #e5e5e5;
}

#form_submit:active {
  background-color: #14213d;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 0.5em 1em;
  background-color: #e5e5e5;
}

.footer_ul {
  display: flex;
  flex-flow: column wrap;
  gap: 2em;
}

#contact_info {
  align-self: center;
}

#copyright_article {
  align-self: center;
  font-style: italic;
}

footer {
  width: 100%;
  bottom: 0;
}

.footer_ul {
  margin-right: 0.5em;
  gap: 0.25em;
}

.active_nav {
  background-color: #cd840f;
  color: #e5e5e5;
}
